.profile {
  padding-top: 7rem;
  padding-bottom: 2rem;
  background-color: #e2edff;
}

#about {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#projects {
  background-color: #e2edff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#contact {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
